# RFM-客户价值分析

# 项目背景：
基于某店的客户消费数据，从数据分析的角度出发，简单解析一下客户消费信息，找出高价值的客户。

# 目的

本项目主要通过客户的消费数据，从消费的频率、消费金额、以及最近的一次消费行为三个维度分析，将客户价值进行分类

# 数据获取

在这个项目中，数据是从MySQL数据库中获取的，数据本身比较完整。MySQL是一个关系型数据库管理系统，是最流行的关系型数据库管理系统之一。

本项目我打算采用Python作为分析工具对数据进行分析和处理。

In [4]:
#导入模块
import pandas as pd
import pymysql
from sklearn.cluster import KMeans  #聚类算法

In [5]:
#从MySQL里提取数据
conn=pymysql.connect(host='***',user='root',passwd='******',db='pysql',charset='utf8')
cursor=conn.cursor()
sql='select * from consumption_data'
cursor.execute(sql)
data=cursor.fetchall()
data

(('1', '27', '6', '232.61'),
 ('2', '3', '5', '1507.11'),
 ('3', '4', '16', '817.62'),
 ('4', '3', '11', '232.81'),
 ('5', '14', '7', '1913.05'),
 ('6', '19', '6', '220.07'),
 ('7', '5', '2', '615.83'),
 ('8', '26', '2', '1059.66'),
 ('9', '21', '9', '304.82'),
 ('10', '2', '21', '1227.96'),
 ('11', '15', '2', '521.02'),
 ('12', '26', '3', '438.22'),
 ('13', '17', '11', '1744.55'),
 ('14', '30', '16', '1957.44'),
 ('15', '5', '7', '1713.79'),
 ('16', '4', '21', '1768.11'),
 ('17', '93', '2', '1016.34'),
 ('18', '16', '3', '950.36'),
 ('19', '4', '1', '754.93'),
 ('20', '27', '1', '294.23'),
 ('21', '5', '1', '195.3'),
 ('22', '17', '3', '1845.34'),
 ('23', '12', '13', '1434.29'),
 ('24', '21', '3', '275.85'),
 ('25', '18', '5', '449.76'),
 ('26', '30', '21', '1628.68'),
 ('27', '4', '2', '1795.41'),
 ('28', '7', '12', '1786.24'),
 ('29', '18', '1', '679.44'),
 ('30', '60', '7', '5318.81'),
 ('31', '4', '22', '873.68'),
 ('32', '16', '1', '654.69'),
 ('33', '3', '2', '230.37'),
 ('34', '14', '11', '1165.68'),
 ('35', '13', '21', '1276.31'),
 ('36', '10', '16', '334.21'),
 ('37', '5', '5', '759.19'),
 ('38', '1', '1', '1383.39'),
 ('39', '24', '8', '3280.77'),
 ('40', '19', '4', '154.65'),
 ('41', '9', '1', '501.38'),
 ('42', '1', '24', '1721.93'),
 ('43', '14', '1', '107.18'),
 ('44', '10', '1', '973.36'),
 ('45', '10', '17', '764.55'),
 ('46', '7', '6', '1251.4'),
 ('47', '23', '11', '923.28'),
 ('48', '15', '1', '1011.18'),
 ('49', '1', '15', '1847.61'),
 ('50', '3', '21', '1669.46'),
 ('51', '10', '3', '1758.05'),
 ('52', '30', '8', '1865.99'),
 ('53', '28', '8', '1791.44'),
 ('54', '4', '15', '874.6'),
 ('55', '24', '5', '557.17'),
 ('56', '16', '2', '1025.35'),
 ('57', '7', '2', '1261.47'),
 ('58', '66', '4', '2920.81'),
 ('59', '4', '2', '1266.02'),
 ('60', '21', '11', '626.37'),
 ('61', '6', '4', '1105.63'),
 ('62', '26', '21', '1465.58'),
 ('63', '8', '21', '630.74'),
 ('64', '26', '2', '1546.45'),
 ('65', '14', '11', '1577.91'),
 ('66', '17', '6', '170.16'),
 ('67', '20', '5', '1558.75'),
 ('68', '5', '5', '1272.06'),
 ('69', '26', '3', '111.02'),
 ('70', '15', '7', '1578.37'),
 ('71', '26', '24', '720.26'),
 ('72', '25', '16', '873.22'),
 ('73', '4', '7', '935.19'),
 ('74', '23', '11', '723.67'),
 ('75', '15', '9', '1833.01'),
 ('76', '6', '3', '681.26'),
 ('77', '78', '11', '1461.63'),
 ('78', '15', '17', '560.57'),
 ('79', '9', '18', '1761.19'),
 ('80', '8', '7', '1707.25'),
 ('81', '28', '2', '227.14'),
 ('82', '22', '3', '223.57'),
 ('83', '8', '6', '940.46'),
 ('84', '23', '6', '256.3'),
 ('85', '5', '1', '312.44'),
 ('86', '15', '14', '929.52'),
 ('87', '27', '15', '1296.66'),
 ('88', '22', '11', '591.62'),
 ('89', '2', '2', '755.72'),
 ('90', '18', '17', '1424.07'),
 ('91', '61', '8', '940.93'),
 ('92', '3', '7', '414.24'),
 ('93', '1', '14', '576.56'),
 ('94', '12', '22', '1037.14'),
 ('95', '26', '5', '1200.17'),
 ('96', '1', '3', '1727.36'),
 ('97', '13', '16', '503.71'),
 ('98', '19', '7', '703.36'),
 ('99', '12', '17', '1583.05'),
 ('100', '3', '18', '602.9'),
 ('101', '5', '1', '798.41'),
 ('102', '25', '7', '1202.09'),
 ('103', '85', '4', '1605.36'),
 ('104', '28', '21', '1222.34'),
 ('105', '25', '19', '593.17'),
 ('106', '8', '6', '94.75'),
 ('107', '14', '1', '89.7'),
 ('108', '21', '15', '1061.56'),
 ('109', '29', '15', '978.85'),
 ('110', '14', '3', '155.9'),
 ('111', '20', '5', '938.15'),
 ('112', '3', '24', '1477.97'),
 ('113', '10', '6', '1976.23'),
 ('114', '8', '5', '181.17'),
 ('115', '17', '4', '499.65'),
 ('116', '49', '1', '76.22'),
 ('117', '13', '11', '267.1'),
 ('118', '23', '1', '137.62'),
 ('119', '65', '5', '1383.47'),
 ('120', '20', '22', '1311.2'),
 ('121', '22', '13', '496.61'),
 ('122', '21', '6', '1921.8'),
 ('123', '14', '11', '304.1'),
 ('124', '26', '1', '468.09'),
 ('125', '27', '9', '432.67'),
 ('126', '30', '1', '368.35'),
 ('127', '11', '4', '759.69'),
 ('128', '26', '3', '1110.81'),
 ('129', '28', '1', '53'),
 ('130', '39', '11', '1314.21'),
 ('131', '11', '6', '1895.95'),
 ('132', '23', '1', '417.23'),
 ('133', '3', '2', '679.58'),
 ('134', '5', '1', '533.97'),
 ('135', '24', '8', '1134.64'),
 ('136', '25', '6', '825.39'),
 ('137', '10', '6', '165.39'),
 ('138', '29', '9', '1234.64'),
 ('139', '80', '11', '1829.32'),
 ('140', '23', '1', '89'),
 ('141', '4', '2', '1557.88'),
 ('142', '3', '8', '1328.01'),
 ('143', '15', '7', '304.65'),
 ('144', '17', '23', '1505.55'),
 ('145', '16', '7', '711.1'),
 ('146', '16', '1', '539.76'),
 ('147', '5', '1', '65.83'),
 ('148', '16', '3', '776.21'),
 ('149', '22', '18', '1820.61'),
 ('150', '19', '4', '1997'),
 ('151', '4', '22', '1846.69'),
 ('152', '23', '7', '1252.41'),
 ('153', '7', '13', '987.17'),
 ('154', '3', '6', '1130.03'),
 ('155', '18', '1', '148.32'),
 ('156', '28', '1', '135.57'),
 ('157', '6', '2', '1641.79'),
 ('158', '7', '2', '242.83'),
 ('159', '21', '8', '1803.02'),
 ('160', '12', '12', '1557.95'),
 ('161', '25', '4', '1494.81'),
 ('162', '26', '13', '1280.06'),
 ('163', '28', '1', '160'),
 ('164', '22', '9', '440.12'),
 ('165', '14', '1', '746.95'),
 ('166', '12', '2', '351.09'),
 ('167', '6', '2', '556.91'),
 ('168', '7', '3', '957.83'),
 ('169', '16', '16', '1212.37'),
 ('170', '11', '2', '946.65'),
 ('171', '16', '13', '1442.68'),
 ('172', '5', '12', '1612.7'),
 ('173', '0', '21', '1281.68'),
 ('174', '9', '13', '1928.8'),
 ('175', '24', '7', '335.35'),
 ('176', '3', '8', '1589.35'),
 ('177', '20', '11', '797.72'),
 ('178', '17', '1', '793.47'),
 ('179', '13', '16', '569.47'),
 ('180', '10', '3', '149.5'),
 ('181', '17', '21', '515.38'),
 ('182', '8', '4', '187.76'),
 ('183', '20', '7', '1441.83'),
 ('184', '27', '1', '121.61'),
 ('185', '25', '11', '934.58'),
 ('186', '16', '15', '591.06'),
 ('187', '15', '4', '951.31'),
 ('188', '12', '11', '914'),
 ('189', '3', '22', '1058'),
 ('190', '9', '2', '1111.51'),
 ('191', '17', '9', '458.52'),
 ('192', '27', '18', '927.59'),
 ('193', '73', '1', '1370.25'),
 ('194', '17', '1', '946.53'),
 ('195', '10', '1', '1474.41'),
 ('196', '16', '3', '1661.03'),
 ('197', '0', '9', '1465.18'),
 ('198', '17', '3', '1813.45'),
 ('199', '5', '7', '772.54'),
 ('200', '4', '1', '172.82'),
 ('201', '14', '4', '552.37'),
 ('202', '12', '8', '946.28'),
 ('203', '26', '2', '651.99'),
 ('204', '6', '9', '857.79'),
 ('205', '7', '4', '1016.55'),
 ('206', '5', '6', '1766.44'),
 ('207', '25', '3', '908.53'),
 ('208', '28', '2', '403.75'),
 ('209', '25', '4', '1270.75'),
 ('210', '13', '3', '1157.92'),
 ('211', '13', '1', '497.09'),
 ('212', '2', '1', '216.78'),
 ('213', '23', '16', '1454.58'),
 ('214', '2', '17', '1027.58'),
 ('215', '24', '12', '722.09'),
 ('216', '15', '7', '282.19'),
 ('217', '11', '4', '106.96'),
 ('218', '18', '1', '999.75'),
 ('219', '24', '14', '1139.33'),
 ('220', '24', '5', '836.72'),
 ('221', '3', '2', '1678.54'),
 ('222', '3', '17', '1337.34'),
 ('223', '1', '4', '1335.77'),
 ('224', '11', '2', '810.2'),
 ('225', '29', '11', '943.9'),
 ('226', '51', '12', '5135.77'),
 ('227', '6', '9', '984.12'),
 ('228', '6', '5', '1413.55'),
 ('229', '1', '6', '381.95'),
 ('230', '6', '14', '788.22'),
 ('231', '29', '1', '80.8'),
 ('232', '21', '1', '611.13'),
 ('233', '24', '4', '1766.35'),
 ('234', '0', '2', '1516.76'),
 ('235', '9', '6', '1925.2'),
 ('236', '17', '1', '344.23'),
 ('237', '49', '1', '204.1'),
 ('238', '5', '2', '1257.59'),
 ('239', '7', '3', '1095.09'),
 ('240', '2', '1', '123.76'),
 ('241', '3', '2', '696.82'),
 ('242', '26', '2', '1487.35'),
 ('243', '19', '3', '1278.43'),
 ('244', '28', '14', '627.97'),
 ('245', '12', '1', '95'),
 ('246', '14', '4', '1827.01'),
 ('247', '10', '6', '754.05'),
 ('248', '19', '2', '922.93'),
 ('249', '12', '12', '257.4'),
 ('250', '1', '14', '676.34'),
 ('251', '3', '19', '984.32'),
 ('252', '27', '32', '1914.06'),
 ('253', '13', '4', '1953.81'),
 ('254', '1', '4', '768.02'),
 ('255', '61', '13', '1379.86'),
 ('256', '42', '1', '1054.24'),
 ('257', '21', '11', '298.34'),
 ('258', '17', '5', '841.04'),
 ('259', '8', '9', '1757.87'),
 ('260', '22', '11', '1010.7'),
 ('261', '13', '6', '948.83'),
 ('262', '12', '24', '852.95'),
 ('263', '7', '7', '1532.72'),
 ('264', '11', '6', '1891.29'),
 ('265', '10', '21', '1900.33'),
 ('266', '16', '13', '598.84'),
 ('267', '8', '21', '1622.91'),
 ('268', '21', '7', '536.53'),
 ('269', '66', '6', '180.51'),
 ('270', '18', '8', '1751.33'),
 ('271', '26', '1', '1146.43'),
 ('272', '24', '6', '654.8'),
 ('273', '4', '3', '1599.58'),
 ('274', '14', '16', '1317.4'),
 ('275', '16', '18', '1665.03'),
 ('276', '11', '17', '440.21'),
 ('277', '16', '3', '1689.94'),
 ('278', '3', '12', '1163.78'),
 ('279', '11', '6', '664.23'),
 ('280', '10', '4', '1658.4'),
 ('281', '3', '8', '1293.56'),
 ('282', '59', '14', '912.94'),
 ('283', '25', '2', '1265.24'),
 ('284', '20', '6', '1169.96'),
 ('285', '25', '3', '735.19'),
 ('286', '5', '6', '1749.68'),
 ('287', '17', '15', '483.51'),
 ('288', '23', '22', '1436.67'),
 ('289', '16', '2', '1439.93'),
 ('290', '16', '1', '252.12'),
 ('291', '7', '14', '848.68'),
 ('292', '30', '9', '252.98'),
 ('293', '5', '2', '464.9'),
 ('294', '3', '2', '50.14'),
 ('295', '5', '5', '1381.21'),
 ('296', '23', '1', '1606.04'),
 ('297', '8', '11', '309.45'),
 ('298', '69', '15', '1441.57'),
 ('299', '12', '8', '434.36'),
 ('300', '61', '6', '1893.97'),
 ('301', '16', '18', '1391.11'),
 ('302', '12', '24', '1292.14'),
 ('303', '3', '6', '312.33'),
 ('304', '17', '24', '845.68'),
 ('305', '16', '6', '1993.47'),
 ('306', '22', '2', '1414.29'),
 ('307', '2', '11', '472.46'),
 ('308', '10', '1', '1255.44'),
 ('309', '7', '12', '1256.98'),
 ('310', '15', '9', '904.91'),
 ('311', '8', '9', '237.52'),
 ('312', '7', '11', '1143.16'),
 ('313', '20', '7', '805.15'),
 ('314', '15', '4', '1259.42'),
 ('315', '11', '7', '247.64'),
 ('316', '3', '1', '1391.51'),
 ('317', '12', '18', '866.59'),
 ('318', '71', '23', '1127.95'),
 ('319', '25', '9', '1535.08'),
 ('320', '20', '13', '911.15'),
 ('321', '20', '5', '1001.84'),
 ('322', '10', '1', '91.93'),
 ('323', '15', '7', '1172.57'),
 ('324', '9', '18', '1882.22'),
 ('325', '1', '19', '528.68'),
 ('326', '21', '11', '1943.65'),
 ('327', '28', '7', '570.73'),
 ('328', '5', '6', '909.57'),
 ('329', '12', '8', '1406.95'),
 ('330', '10', '11', '1060.91'),
 ('331', '4', '1', '90.67'),
 ('332', '17', '15', '1757.5'),
 ('333', '65', '11', '1082.01'),
 ('334', '1', '6', '1665.49'),
 ('335', '20', '17', '553.53'),
 ('336', '24', '18', '1568.74'),
 ('337', '24', '4', '993.88'),
 ('338', '9', '17', '511.39'),
 ('339', '12', '23', '7149.96'),
 ('340', '11', '16', '1994.53'),
 ('341', '6', '13', '399.26'),
 ('342', '20', '7', '211.93'),
 ('343', '16', '2', '1466.19'),
 ('344', '29', '2', '1185.26'),
 ('345', '22', '16', '1400.35'),
 ('346', '11', '1', '433'),
 ('347', '10', '4', '238.6'),
 ('348', '22', '3', '1393.92'),
 ('349', '7', '3', '720.16'),
 ('350', '26', '16', '1810.43'),
 ('351', '24', '6', '230.28'),
 ('352', '4', '4', '772.84'),
 ('353', '26', '1', '339.03'),
 ('354', '5', '19', '1118.51'),
 ('355', '1', '6', '328.31'),
 ('356', '21', '17', '1385.52'),
 ('357', '47', '5', '169.25'),
 ('358', '8', '18', '1177.91'),
 ('359', '26', '12', '879.69'),
 ('360', '11', '3', '446.58'),
 ('361', '16', '1', '1437.14'),
 ('362', '13', '21', '695.48'),
 ('363', '27', '16', '1715.16'),
 ('364', '19', '1', '1048.5'),
 ('365', '2', '17', '1545.94'),
 ('366', '22', '1', '656.28'),
 ('367', '15', '11', '620.08'),
 ('368', '16', '12', '1111.76'),
 ('369', '26', '5', '1440.3'),
 ('370', '30', '11', '173.89'),
 ('371', '29', '9', '365.41'),
 ('372', '29', '19', '1495.14'),
 ('373', '7', '24', '1456.31'),
 ('374', '13', '13', '1327.45'),
 ('375', '24', '1', '1445.07'),
 ('376', '20', '2', '67.47'),
 ('377', '15', '14', '759.95'),
 ('378', '8', '11', '268.31'),
 ('379', '44', '11', '887.47'),
 ('380', '8', '22', '1970.75'),
 ('381', '26', '2', '335.05'),
 ('382', '13', '19', '419.22'),
 ('383', '7', '12', '494.74'),
 ('384', '10', '11', '1535.51'),
 ('385', '9', '1', '571.11'),
 ('386', '12', '1', '1491.21'),
 ('387', '12', '3', '1385.53'),
 ('388', '1', '11', '1030.93'),
 ('389', '4', '4', '978.71'),
 ('390', '15', '1', '516.33'),
 ('391', '6', '24', '543.75'),
 ('392', '5', '4', '356.23'),
 ('393', '10', '18', '1789.67'),
 ('394', '24', '16', '1978.79'),
 ('395', '16', '5', '434.48'),
 ('396', '22', '23', '1458.64'),
 ('397', '15', '1', '854.1'),
 ('398', '18', '13', '1879.27'),
 ('399', '8', '24', '1901.09'),
 ('400', '39', '2', '1521.44'),
 ('401', '14', '13', '1956.9'),
 ('402', '12', '14', '690.06'),
 ('403', '1', '18', '1157.17'),
 ('404', '17', '6', '600.46'),
 ('405', '1', '21', '1108.49'),
 ('406', '25', '23', '512.01'),
 ('407', '25', '11', '1510.08'),
 ('408', '27', '21', '1255.12'),
 ('409', '3', '5', '1676.56'),
 ('410', '1', '17', '1974.68'),
 ('411', '28', '4', '418.22'),
 ('412', '1', '19', '1577.28'),
 ('413', '5', '24', '1416.82'),
 ('414', '23', '9', '1300.04'),
 ('415', '12', '23', '1206.86'),
 ('416', '11', '16', '1699.1'),
 ('417', '10', '19', '1031.1'),
 ('418', '8', '9', '414.99'),
 ('419', '58', '8', '1262.55'),
 ('420', '18', '4', '1254.34'),
 ('421', '7', '1', '1103.45'),
 ('422', '8', '14', '1802.11'),
 ('423', '0', '2', '387.24'),
 ('424', '19', '22', '1204.62'),
 ('425', '27', '19', '1058.39'),
 ('426', '22', '1', '696.37'),
 ('427', '12', '7', '1055.71'),
 ('428', '2', '14', '1649.81'),
 ('429', '27', '19', '1293.73'),
 ('430', '20', '16', '1517.39'),
 ('431', '28', '3', '1497.35'),
 ('432', '4', '9', '399.02'),
 ('433', '6', '1', '1598.45'),
 ('434', '0', '18', '1300.99'),
 ('435', '18', '15', '1008.74'),
 ('436', '13', '8', '1819.96'),
 ('437', '21', '18', '630.47'),
 ('438', '6', '5', '1478.86'),
 ('439', '16', '21', '1562.08'),
 ('440', '29', '9', '1171.59'),
 ('441', '8', '21', '1642.86'),
 ('442', '11', '19', '1373.12'),
 ('443', '8', '5', '180.07'),
 ('444', '2', '18', '996.17'),
 ('445', '7', '1', '45.23'),
 ('446', '29', '11', '1049.44'),
 ('447', '16', '8', '220.03'),
 ('448', '19', '7', '393.14'),
 ('449', '14', '17', '1963.58'),
 ('450', '9', '6', '147.12'),
 ('451', '6', '7', '1279.7'),
 ('452', '24', '1', '633.17'),
 ('453', '12', '1', '1562.66'),
 ('454', '14', '21', '1354.59'),
 ('455', '8', '1', '911.62'),
 ('456', '25', '4', '1725.82'),
 ('457', '4', '4', '573.16'),
 ('458', '14', '13', '1331.53'),
 ('459', '13', '14', '1688.13'),
 ('460', '13', '4', '180'),
 ('461', '4', '22', '636.38'),
 ('462', '10', '8', '830.24'),
 ('463', '20', '22', '641.43'),
 ('464', '4', '1', '790.84'),
 ('465', '17', '22', '686'),
 ('466', '29', '18', '839.53'),
 ('467', '7', '22', '1862.15'),
 ('468', '4', '2', '1645.01'),
 ('469', '26', '13', '678.39'),
 ('470', '1', '15', '1287.7'),
 ('471', '24', '12', '1138.13'),
 ('472', '25', '21', '1081.9'),
 ('473', '1', '11', '432.32'),
 ('474', '18', '13', '437.33'),
 ('475', '24', '23', '852.05'),
 ('476', '18', '5', '1686.86'),
 ('477', '39', '15', '1420.24'),
 ('478', '27', '11', '869.55'),
 ('479', '25', '8', '1919.58'),
 ('480', '12', '22', '1451.94'),
 ('481', '2', '1', '1824.64'),
 ('482', '7', '11', '1877.28'),
 ('483', '6', '24', '1717.3'),
 ('484', '17', '16', '6148.05'),
 ('485', '13', '2', '111.17'),
 ('486', '21', '1', '621.61'),
 ('487', '16', '1', '1663.79'),
 ('488', '7', '7', '1247.65'),
 ('489', '5', '1', '198.72'),
 ('490', '8', '1', '927.95'),
 ('491', '33', '1', '117.62'),
 ('492', '6', '13', '1674.32'),
 ('493', '1', '21', '734.98'),
 ('494', '5', '11', '1387.5'),
 ('495', '8', '18', '488.5'),
 ('496', '7', '6', '92.63'),
 ('497', '6', '7', '1808.21'),
 ('498', '19', '21', '910.94'),
 ('499', '14', '6', '1564.15'),
 ('500', '25', '14', '1894.13'),
 ('501', '10', '12', '751.38'),
 ('502', '4', '11', '1813.51'),
 ('503', '4', '6', '1367.15'),
 ('504', '15', '5', '1264.09'),
 ('505', '7', '1', '685.55'),
 ('506', '4', '4', '1296.34'),
 ('507', '14', '7', '1300.12'),
 ('508', '38', '15', '1728.68'),
 ('509', '11', '1', '487.28'),
 ('510', '4', '12', '1313.31'),
 ('511', '25', '17', '1694.35'),
 ('512', '5', '2', '1931.97'),
 ('513', '27', '22', '1372.36'),
 ('514', '26', '18', '1731.94'),
 ('515', '19', '1', '1496.83'),
 ('516', '22', '15', '1798.79'),
 ('517', '11', '6', '803.94'),
 ('518', '24', '11', '1505.96'),
 ('519', '17', '1', '120.52'),
 ('520', '18', '7', '936.77'),
 ('521', '23', '7', '1824.41'),
 ('522', '17', '5', '177.08'),
 ('523', '1', '19', '867.99'),
 ('524', '21', '17', '756.88'),
 ('525', '13', '4', '6433.81'),
 ('526', '38', '2', '1947.54'),
 ('527', '19', '5', '549.35'),
 ('528', '26', '8', '1680.69'),
 ('529', '30', '12', '555.2'),
 ('530', '7', '6', '334.12'),
 ('531', '17', '19', '925.89'),
 ('532', '27', '6', '249.2'),
 ('533', '12', '14', '666.3'),
 ('534', '27', '17', '1955.27'),
 ('535', '8', '11', '363.62'),
 ('536', '4', '8', '1728'),
 ('537', '20', '9', '197.43'),
 ('538', '28', '24', '973.93'),
 ('539', '27', '12', '1051.75'),
 ('540', '12', '19', '1315.32'),
 ('541', '4', '13', '1628.32'),
 ('542', '13', '12', '1452.1'),
 ('543', '16', '21', '1591.59'),
 ('544', '10', '1', '487.24'),
 ('545', '36', '18', '839.52'),
 ('546', '8', '11', '1729.52'),
 ('547', '13', '3', '1679'),
 ('548', '2', '18', '780.88'),
 ('549', '9', '5', '498.99'),
 ('550', '26', '11', '1932.64'),
 ('551', '27', '1', '98.39'),
 ('552', '5', '6', '239.36'),
 ('553', '23', '13', '866.19'),
 ('554', '27', '4', '1469.94'),
 ('555', '26', '7', '1273.07'),
 ('556', '24', '19', '1617.51'),
 ('557', '24', '9', '334.68'),
 ('558', '7', '12', '1288.1'),
 ('559', '42', '2', '1784.51'),
 ('560', '16', '7', '1234.33'),
 ('561', '21', '21', '1730.02'),
 ('562', '13', '3', '1512.12'),
 ('563', '9', '4', '93'),
 ('564', '26', '3', '1767.68'),
 ('565', '24', '11', '1640.19'),
 ('566', '5', '6', '750.26'),
 ('567', '6', '12', '299.66'),
 ('568', '19', '14', '1735.09'),
 ('569', '26', '11', '1628.49'),
 ('570', '20', '4', '1155.02'),
 ('571', '22', '8', '1923.31'),
 ('572', '2', '18', '391.1'),
 ('573', '13', '14', '411.61'),
 ('574', '21', '4', '1631.06'),
 ('575', '21', '18', '1359.47'),
 ('576', '26', '3', '1083.38'),
 ('577', '23', '16', '1320.69'),
 ('578', '13', '21', '564.33'),
 ('579', '13', '3', '1936.93'),
 ('580', '12', '21', '766.06'),
 ('581', '23', '8', '1090.77'),
 ('582', '25', '9', '1932.46'),
 ('583', '27', '11', '747.42'),
 ('584', '14', '12', '377.47'),
 ('585', '13', '6', '141.28'),
 ('586', '8', '22', '547.14'),
 ('587', '23', '3', '344.95'),
 ('588', '17', '7', '999.24'),
 ('589', '13', '12', '745.11'),
 ('590', '28', '23', '751.19'),
 ('591', '8', '1', '954.72'),
 ('592', '26', '3', '1066.27'),
 ('593', '17', '2', '489.08'),
 ('594', '3', '15', '885.49'),
 ('595', '39', '14', '1454.39'),
 ('596', '13', '8', '519.83'),
 ('597', '18', '21', '473.87'),
 ('598', '10', '21', '1465.95'),
 ('599', '4', '6', '301.49'),
 ('600', '20', '16', '951.76'),
 ('601', '16', '15', '1282.64'),
 ('602', '14', '6', '347.42'),
 ('603', '1', '5', '164.98'),
 ('604', '20', '7', '99.67'),
 ('605', '7', '5', '1909.29'),
 ('606', '1', '11', '981.2'),
 ('607', '16', '14', '1473.62'),
 ('608', '18', '1', '72.31'),
 ('609', '20', '23', '1128.24'),
 ('610', '2', '9', '1444.39'),
 ('611', '1', '1', '128'),
 ('612', '59', '1', '1767.93'),
 ('613', '18', '1', '531.73'),
 ('614', '27', '1', '85.63'),
 ('615', '2', '2', '698.67'),
 ('616', '3', '3', '690.64'),
 ('617', '29', '1', '249.85'),
 ('618', '9', '3', '563.28'),
 ('619', '19', '5', '1191.27'),
 ('620', '21', '22', '1400.81'),
 ('621', '6', '2', '1749.21'),
 ('622', '23', '11', '471.6'),
 ('623', '27', '19', '1325.11'),
 ('624', '12', '13', '778.11'),
 ('625', '8', '6', '216.09'),
 ('626', '84', '2', '276.26'),
 ('627', '19', '2', '1657.46'),
 ('628', '26', '2', '1483.83'),
 ('629', '21', '5', '554.38'),
 ('630', '15', '13', '1457.71'),
 ('631', '7', '15', '1537.57'),
 ('632', '3', '21', '627.72'),
 ('633', '1', '3', '1920.02'),
 ('634', '7', '9', '739.45'),
 ('635', '19', '23', '639.21'),
 ('636', '2', '22', '1321.41'),
 ('637', '19', '14', '1214.69'),
 ('638', '5', '2', '1576.96'),
 ('639', '2', '6', '1726.92'),

In [6]:
#创建dataframe数据表
columnlist=['user_id','R','F','M']
rfm=pd.DataFrame(list(data),columns=columnlist)
# rfm.head() #查看前五行数据
# rfm.isnull() #查看是否有缺失值

In [7]:
#使用K-Means进行rfm模型聚类
#单独提取数据表中的F,R,M进行聚类
rfm_new=rfm[['R','F','M']]
rfm_new

      R   F        M
0    27   6   232.61
1     3   5  1507.11
2     4  16   817.62
3     3  11   232.81
4    14   7  1913.05
5    19   6   220.07
6     5   2   615.83
7    26   2  1059.66
8    21   9   304.82
9     2  21  1227.96
10   15   2   521.02
11   26   3   438.22
12   17  11  1744.55
13   30  16  1957.44
14    5   7  1713.79
15    4  21  1768.11
16   93   2  1016.34
17   16   3   950.36
18    4   1   754.93
19   27   1   294.23
20    5   1    195.3
21   17   3  1845.34
22   12  13  1434.29
23   21   3   275.85
24   18   5   449.76
25   30  21  1628.68
26    4   2  1795.41
27    7  12  1786.24
28   18   1   679.44
29   60   7  5318.81
..   ..  ..      ...
910   9  14  1627.19
911  11  28   1154.7
912  17   1    33.58
913  15   9  1959.64
914  10  22  1581.14
915  27   5  1879.82
916  25   3   1142.4
917  15   1   174.64
918   5   2   638.81
919  19   4  1067.78
920  14  22  1345.92
921   6   3  1311.06
922  26   8   962.62
923  23   1   285.97
924  17  17  1651.68
925  16   3  1503.87
926   6  13  1506.48
927  22  24   625.12
928  28  17  1742.95
929  17  26  1292.21
930  16   7  1801.38
931   1  27   1585.1
932  17  27  7795.03
933   2  17  2341.93
934   1   5  1865.78
935  19   4  1163.08
936   9   7  1007.06
937  27   7  1322.94
938  30   4   860.41
939  22   1    776.7

[940 rows x 3 columns]

In [8]:
#设置KMeans模型参数，并带入指标数据进行拟合
clf=KMeans(n_clusters=8) 
clf=clf.fit(rfm_new)  #拟合数据
#查看KMeans聚类后结果（8个质心点的值）
D=pd.DataFrame(list(clf.cluster_centers_)) #查看聚类后结果
D

           0          1            2
0  14.802395  10.089820   568.954611
1  16.371795  10.871795  1558.089487
2  35.250000   9.750000  5759.110000
3  16.981818   4.218182   209.937333
4  17.018987  10.392405   904.558797
5  16.616541  10.571429  1880.743684
6  18.361290  11.774194  1253.062968
7  14.500000  25.000000  7472.495000

In [10]:
#在原始表中对每个用户进行聚类后结果标记，目的是为了知道哪个用户ID在RFM模型中所属类别
rfm['label']=clf.labels_
rfm

    user_id   R   F        M  label
0         1  27   6   232.61      3
1         2   3   5  1507.11      1
2         3   4  16   817.62      4
3         4   3  11   232.81      3
4         5  14   7  1913.05      5
5         6  19   6   220.07      3
6         7   5   2   615.83      0
7         8  26   2  1059.66      4
8         9  21   9   304.82      3
9        10   2  21  1227.96      6
10       11  15   2   521.02      0
11       12  26   3   438.22      0
12       13  17  11  1744.55      5
13       14  30  16  1957.44      5
14       15   5   7  1713.79      1
15       16   4  21  1768.11      5
16       17  93   2  1016.34      4
17       18  16   3   950.36      4
18       19   4   1   754.93      4
19       20  27   1   294.23      3
20       21   5   1    195.3      3
21       22  17   3  1845.34      5
22       23  12  13  1434.29      1
23       24  21   3   275.85      3
24       25  18   5   449.76      0
25       26  30  21  1628.68      1
26       27   4   2  1795.41      5
27       28   7  12  1786.24      5
28       29  18   1   679.44      0
29       30  60   7  5318.81      2
..      ...  ..  ..      ...    ...
910     913   9  14  1627.19      1
911     914  11  28   1154.7      6
912     915  17   1    33.58      3
913     916  15   9  1959.64      5
914     917  10  22  1581.14      1
915     918  27   5  1879.82      5
916     919  25   3   1142.4      6
917     920  15   1   174.64      3
918     921   5   2   638.81      0
919     922  19   4  1067.78      4
920     923  14  22  1345.92      6
921     924   6   3  1311.06      6
922     925  26   8   962.62      4
923     926  23   1   285.97      3
924     927  17  17  1651.68      1
925     928  16   3  1503.87      1
926     929   6  13  1506.48      1
927     930  22  24   625.12      0
928     931  28  17  1742.95      5
929     932  17  26  1292.21      6
930     933  16   7  1801.38      5
931     934   1  27   1585.1      1
932     935  17  27  7795.03      7
933     936   2  17  2341.93      5
934     937   1   5  1865.78      5
935     938  19   4  1163.08      6
936     939   9   7  1007.06      4
937     940  27   7  1322.94      6
938     941  30   4   860.41      4
939     942  22   1    776.7      4

[940 rows x 5 columns]

In [12]:
#查看RFM模型8个类别中的用户数量
r1=pd.Series(clf.labels_).value_counts()
r1

0    167
3    165
4    158
1    156
6    155
5    133
2      4
7      2
dtype: int64

In [14]:
#用dataframe格式查看所有质心点的值
r2=pd.DataFrame(clf.cluster_centers_)  
r2

           0          1            2
0  14.802395  10.089820   568.954611
1  16.371795  10.871795  1558.089487
2  35.250000   9.750000  5759.110000
3  16.981818   4.218182   209.937333
4  17.018987  10.392405   904.558797
5  16.616541  10.571429  1880.743684
6  18.361290  11.774194  1253.062968
7  14.500000  25.000000  7472.495000

In [15]:
#将质心点数据与每个类别统计数据合并成一个表
r=pd.concat([r2,r1],axis=1)   
r

           0          1            2    0
0  14.802395  10.089820   568.954611  167
1  16.371795  10.871795  1558.089487  156
2  35.250000   9.750000  5759.110000    4
3  16.981818   4.218182   209.937333  165
4  17.018987  10.392405   904.558797  158
5  16.616541  10.571429  1880.743684  133
6  18.361290  11.774194  1253.062968  155
7  14.500000  25.000000  7472.495000    2

In [16]:
r.columns=list(rfm_new.columns)+['类别数量']  #重新命名表头
r

           R          F            M  类别数量
0  14.802395  10.089820   568.954611   167
1  16.371795  10.871795  1558.089487   156
2  35.250000   9.750000  5759.110000     4
3  16.981818   4.218182   209.937333   165
4  17.018987  10.392405   904.558797   158
5  16.616541  10.571429  1880.743684   133
6  18.361290  11.774194  1253.062968   155
7  14.500000  25.000000  7472.495000     2

In [17]:
#以质心点的RFM中位数为基准划分类别
rmd=r['R'].median()
fmd=r['F'].median()
mmd=r['M'].median()

In [18]:
r['lv']='label'
def lx(r):
    for i in range(8):
        if r.ix[i,'R']>=rmd and r.ix[i,'F']>=fmd and r.ix[i,'M']>=mmd:
            r.ix[i,'lv']='高价值客户'
        elif r.ix[i,'R']<rmd and r.ix[i,'F']>=fmd and r.ix[i,'M']>=mmd:
            r.ix[i,'lv']='重点保持客户'
        elif r.ix[i,'R']>=rmd and r.ix[i,'F']<fmd and r.ix[i,'M']>=mmd:
            r.ix[i,'lv']='重点发展客户'
        elif r.ix[i,'R']<rmd and r.ix[i,'F']<fmd and r.ix[i,'M']>=mmd:
            r.ix[i,'lv']='重点挽留客户'
        elif r.ix[i,'R']>=rmd and r.ix[i,'F']>=fmd and r.ix[i,'M']<mmd:
            r.ix[i,'lv']='一般价值客户'
        elif r.ix[i,'R']<rmd and r.ix[i,'F']>=fmd and r.ix[i,'M']<mmd:
            r.ix[i,'lv']='一般保持客户'
        elif r.ix[i,'R']>=rmd and r.ix[i,'F']<fmd and r.ix[i,'M']<mmd:
            r.ix[i,'lv']='一般发展客户'
        elif r.ix[i,'R']<rmd and r.ix[i,'F']<fmd and r.ix[i,'M']<mmd:
            r.ix[i,'lv']='潜在客户'
    return r
print(lx(r))

           R          F            M  类别数量      lv
0  14.802395  10.089820   568.954611   167    潜在客户
1  16.371795  10.871795  1558.089487   156  重点保持客户
2  35.250000   9.750000  5759.110000     4  重点发展客户
3  16.981818   4.218182   209.937333   165  一般发展客户
4  17.018987  10.392405   904.558797   158  一般发展客户
5  16.616541  10.571429  1880.743684   133  重点保持客户
6  18.361290  11.774194  1253.062968   155  一般价值客户
7  14.500000  25.000000  7472.495000     2  重点保持客户

D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\ruanjian\anaconda\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]

In [19]:
#详细输出原始数据集其类别
list1=[]
for n in rfm['label']:
    if n==0:
        list1.append('重点发展客户')
    elif n==1:
        list1.append('潜在客户')
    elif n==2:
        list1.append('重点保持客户')
    elif n==3:
        list1.append('一般发展客户')
    elif n==4:
        list1.append('一般价值客户')
    elif n==5:
        list1.append('潜在客户')
    elif n==6:
        list1.append('高价值客户')
    elif n==7:
        list1.append('重点保持客户')

In [20]:
rfm['聚类类别']=list1
rfm

    user_id   R   F        M  label    聚类类别
0         1  27   6   232.61      3  一般发展客户
1         2   3   5  1507.11      1    潜在客户
2         3   4  16   817.62      4  一般价值客户
3         4   3  11   232.81      3  一般发展客户
4         5  14   7  1913.05      5    潜在客户
5         6  19   6   220.07      3  一般发展客户
6         7   5   2   615.83      0  重点发展客户
7         8  26   2  1059.66      4  一般价值客户
8         9  21   9   304.82      3  一般发展客户
9        10   2  21  1227.96      6   高价值客户
10       11  15   2   521.02      0  重点发展客户
11       12  26   3   438.22      0  重点发展客户
12       13  17  11  1744.55      5    潜在客户
13       14  30  16  1957.44      5    潜在客户
14       15   5   7  1713.79      1    潜在客户
15       16   4  21  1768.11      5    潜在客户
16       17  93   2  1016.34      4  一般价值客户
17       18  16   3   950.36      4  一般价值客户
18       19   4   1   754.93      4  一般价值客户
19       20  27   1   294.23      3  一般发展客户
20       21   5   1    195.3      3  一般发展客户
21       22  17   3  1845.34      5    潜在客户
22       23  12  13  1434.29      1    潜在客户
23       24  21   3   275.85      3  一般发展客户
24       25  18   5   449.76      0  重点发展客户
25       26  30  21  1628.68      1    潜在客户
26       27   4   2  1795.41      5    潜在客户
27       28   7  12  1786.24      5    潜在客户
28       29  18   1   679.44      0  重点发展客户
29       30  60   7  5318.81      2  重点保持客户
..      ...  ..  ..      ...    ...     ...
910     913   9  14  1627.19      1    潜在客户
911     914  11  28   1154.7      6   高价值客户
912     915  17   1    33.58      3  一般发展客户
913     916  15   9  1959.64      5    潜在客户
914     917  10  22  1581.14      1    潜在客户
915     918  27   5  1879.82      5    潜在客户
916     919  25   3   1142.4      6   高价值客户
917     920  15   1   174.64      3  一般发展客户
918     921   5   2   638.81      0  重点发展客户
919     922  19   4  1067.78      4  一般价值客户
920     923  14  22  1345.92      6   高价值客户
921     924   6   3  1311.06      6   高价值客户
922     925  26   8   962.62      4  一般价值客户
923     926  23   1   285.97      3  一般发展客户
924     927  17  17  1651.68      1    潜在客户
925     928  16   3  1503.87      1    潜在客户
926     929   6  13  1506.48      1    潜在客户
927     930  22  24   625.12      0  重点发展客户
928     931  28  17  1742.95      5    潜在客户
929     932  17  26  1292.21      6   高价值客户
930     933  16   7  1801.38      5    潜在客户
931     934   1  27   1585.1      1    潜在客户
932     935  17  27  7795.03      7  重点保持客户
933     936   2  17  2341.93      5    潜在客户
934     937   1   5  1865.78      5    潜在客户
935     938  19   4  1163.08      6   高价值客户
936     939   9   7  1007.06      4  一般价值客户
937     940  27   7  1322.94      6   高价值客户
938     941  30   4   860.41      4  一般价值客户
939     942  22   1    776.7      4  一般价值客户

[940 rows x 6 columns]

In [21]:
#将结果导入Excel表中
rfm.to_excel('RFM模型结果.xls')

# 总结：

本项目仅对客户的消费行为进行价值分类。

通过价值分类，筛选出自己的目标客户，为业务部门作出数据指导